$formTitleWidth: .5em;
$inputPadding: .9em;
$formBorderRadius: 5px;
$formBackground: #636b6f;

.form__div {
    margin: 2em 0;
}

.form__title {
    max-width: 30%;
    padding: 1em $formTitleWidth;
    background: $formBackground;
    text-align: center;
    border-top-left-radius: $formBorderRadius;
    border-top-right-radius: $formBorderRadius;
}

.form__content {
    background: $formBackground;
    padding: 1em 2.5em;
    border-radius: $formBorderRadius;
    border-top-left-radius: 0;

    input:not([type=submit]), textarea {
        min-width: calc(100% - #{$inputPadding});
        max-width: calc(100% - #{$inputPadding});
        min-height: 2.4em;
        border-radius: $formBorderRadius;
        border: 0;
        margin: .2em 0;
        padding: 0 $inputPadding;
    }

    label {
        display: inline-block;
        margin: .5em 0;
    }

    label:first-of-type {
        margin-bottom: .5em;
    }

    input[type=submit] {
        margin-top: 1.5em;
        padding: 1em 2em;
        border-radius: $formBorderRadius;
        background: #3058a1;
        color: white;
        border: none;
    }
}

.alert {
    max-width: 40%;
    margin: 1em;
}

.alert-bad {
    color: red;
}

.is-invalid {
    border: 1px solid red !important;
}

.error-message {
    color: red;
    margin: .1em 0;
    max-width: max-content;
}

@media only screen and (max-width: 570px) {
    .form__title {
        max-width: 50%;
    }
}

