nav {
    width: 100% !important;
    min-height: 4em !important;
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;

    ul {
        list-style: none !important;
        float: left !important;
    }

    li {
        float: left !important;
        padding: 1em !important;
        margin-top: .5em !important;
    }

    a {
        color: white !important;
    }
}

.nav__content {
    max-width: 90% !important;
    margin: 0 auto !important;
}

@media only screen and (max-width: 500px) {
    nav {
        height: 8em !important;
    }
}
