.product--list {
    max-width: 100%;

    .product--list__product {
        background: #636b6f;
        margin: 2em auto;
        padding: 1em;
        border-radius: 23px;
        width: 25vw;
    }

    .product--list__title {
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 1em;
    }

    .product--list__img {
        object-fit: contain;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .product--list__description {
        font-size: 14px;
        margin: 1em 0;
    }

    .product--list__price {
        font-size: 1.4em;
        color: greenyellow;

        &:before {
            content: '€ ';
        }
    }
}

@media only screen and (min-width: 740px) {
    .product--list {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2em;

        max-width: 100%;
        margin: 0;

        .product--list__product {
            max-width: 100%;
            padding: 1em .5em;
            margin: 0 -.5em;

            display: grid;
            grid-template-rows: auto auto auto auto;
        }

        .product--list__img {
            max-height: 300px;
            max-width: 100%;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .product--list {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 2em;

    }
}
