* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

body {
  width: 100%;
  background: #333;
  font-family: "Nunito", sans-serif;
  color: white;
}

header {
  text-align: center;
  padding: 1em;
}

main {
  max-width: 80%;
  margin: 2em auto;
}

nav {
  width: 100%;
  min-height: 4em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

nav ul {
  list-style: none;
  float: left;
}

nav li {
  float: left;
  padding: 1em;
  margin-top: 0.5em;
}

nav a {
  color: white;
}

.nav__content {
  max-width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  nav {
    height: 8em;
  }
}

.form__title {
  max-width: 30%;
  padding: 1em 0.5em;
  background: #636b6f;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form__content {
  background: #636b6f;
  padding: 1em 2.5em;
  border-radius: 5px;
  border-top-left-radius: 0;
}

.form__content input:not([type=submit]),
.form__content textarea {
  min-width: calc(100% - 0.9em);
  max-width: calc(100% - 0.9em);
  min-height: 2.4em;
  border-radius: 5px;
  border: 0;
  margin: 0.2em 0;
  padding: 0 0.9em;
}

.form__content label {
  display: inline-block;
  margin: 0.5em 0;
}

.form__content label:first-of-type {
  margin-bottom: 0.5em;
}

.alert {
  max-width: 40%;
  margin: 1em;
}

.alert-bad {
  color: red;
}

.is-invalid {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  margin: 0.1em 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media only screen and (max-width: 570px) {
  .form__title {
    max-width: 50%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table a {
  color: white;
}

table thead td {
  border: none;
  padding: 1em;
  border-bottom: 3px solid white;
  text-align: center;
}

table tbody tr td {
  padding: 1em 10px;
  border-bottom: 1px solid white;
}

table tbody tr:last-of-type td {
  border-bottom: 3px solid white;
}

.PAGE--ERROR {
  text-align: center;
}

.PAGE--ERROR h2 {
  margin-top: 7em;
  font-weight: normal;
}

.PAGE--ERROR .PAGE--ERROR__sad {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
}

.PAGE--ERROR .PAGE--ERROR__link {
  font-weight: bolder;
  color: #C14A33;
}

