* {
    margin: 0;
    padding: 0;
}
body {
    background: #495057;
    font-family: 'Nunito', sans-serif;
    color: white;
}

header {
    text-align: center;
    padding: 1em;
}

nav {
    width: 100vw;
    height: 4em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav__content {
    max-width: 90%;
    margin: 0 auto;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    float: left;
}

nav li {
    float: left;
    padding: 1em;
    margin-top: .5em;
}

nav a {
    color: white;
}
